
.add-task-button{
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    .label{
        font-style: bold;
        font-size: 30px;
        color: white;
        font-weight: bold;
    }
}
  