.tag-wapper {
  border: 1px solid $light-purple;
}

.tag-small {
  @include font-terminal($light-purple);
  border: 1px solid $light-purple;
  flex: 0 0 24px;
  height: 18px;
  padding: 2px 3px;
  width: 24px;
}

.tag-large {
  @include font-paragraph-medium($light-purple);
  border: 1px solid $light-purple;
  flex: 0 0 22px;
  height: 22px;
  padding: 0 4px;
  width: 24px;
}

.tag-medium {
  border: 1px solid $border-color;
  box-sizing: border-box;
  height: $space-7;
  width: $space-7;
}
