@import '@hal/shared-base-styles/src/index.scss';

.colored-status,
.alert-message {
  .info-icon {
    flex-shrink: 0;
  }

  .airline-link {
    color: $white;
  }

  &.green {
    background-color: $dark-green;
    color: $white;
  }

  &.yellow {
    background-color: $yellow;
    color: $black;

    .alert-text,
    .airline-link {
      color: $black;
    }

    .info-icon {
      fill: $black;
    }
  }

  &.red {
    background-color: $dark-red;
    color: $white;

    .alert-text {
      color: $white;
    }
  }

  &.purple {
    background-color: $heathrow-purple;
    color: $white;

    .alert-text {
      color: $white;
    }
  }

  &.grey {
    background-color: $grey;
    color: $white;

    .alert-text {
      color: $white;
    }
  }
}
