@import '@hal/shared-base-styles/src/index.scss';

input {
  @include input-placeholder($mid-grey);
  border: 1px solid $border-color;
  padding: 18px 16px;

  &:hover {
    border: 1px solid $grey;
    cursor: pointer;
  }

  &::-ms-reveal {
    display: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  //Remove Cross Icon from input boxes in IE
  &::-ms-clear {
    display: none;
  }
}

input-error {
  border-color: $red;
  color: $red;
}

input[type='checkbox'] {
  @include tick-mark;
}

input[type='radio'] {
  border: solid 12px $light-purple;
}
