@import '@hal/shared-base-styles/src/index.scss';

select {
  @include font-label-regular($mid-grey);
  appearance: none;
  background: transparent;
  border: 1px solid $border-color;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 0;
  padding: 18px 16px;
  width: 100%;

  &.error {
    border-color: $red;
  }

  /* stylelint-disable selector-pseudo-element-no-unknown */
  &::-ms-expand {
    display: none;
  }
}

.add-z-index {
  z-index: 1;
}

.select-icon {
  pointer-events: none;
  right: 1rem;
  top: 14px;
}
