@import "../style-constants.scss";
.add-task-button {
    position: fixed;
    bottom: 48px;
    right: 48px;
    background-color: #0a86ff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    box-shadow: 4px 4px 8px lightgrey;
    &:hover {
        background-color: #329aff;
    }
}

i {
    color: white;
}
