@import "./mixins/make-animation";
@import "animations";

.overlay {
    @include make-animation($name: backdrop, $duration: 0.15s);
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    overflow: auto;
}
