.select-input {
    display: flex;
    flex:1;
    min-height: 40px;
    padding: 10px; 
    background-color: #000;
    color: #fff;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: large;
}
.select-input-lg{
    width: 800px;
}
.select-input-full{
    width: 100%;
}

.select-input-light{
    background-color: #efefef;
    color: #000;
    border: 1px solid #ddd;
}