.Search {
  background-color: var(--white);
  margin: 0.5rem 0 0.5rem 0.5rem;
  border: 2px solid var(--grey-light);
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
  width: 20%;
}
.SearchIcon {
  color: inherit;
  font-size: 1.2rem;
}
.SearchInput {
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
}
