.mySearchBox{
    padding-bottom:30px;
    
}

.mySearch {
    width:80%;
    padding: 0px;
    margin:0px;
    border: 2px solid #009879;
    height:30px;
  
}

.mySearch:focus {
    outline: inset ;
}

h2{
    color: cadetblue;
    font-size: 210%;
    font-weight: 500;
}

.mySrchBtn{
    color:black;
}
.mySrchBtn:hover{
    cursor: pointer;
    color:blueviolet;
}
.mySrchBtn:active{
    color: brown;
}