.task-form {
  .input-conatiner {
    padding-bottom: 16px;
    .input-element {
      height: 32px;
    }
  }
  .btn-section {
    display: flex;
    justify-content: space-around;
  }
  .react-datepicker__input-container {
    input {
      height: 32px;
      margin-bottom: 16px;
      text-align: center;
      font-size: 16px;
      box-sizing: border-box;
    }
  }
}
