.links {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

h4 {
  color: yellowgreen;
  margin: 0;
}

.nav-links {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.fa-shopping-cart {
  color: yellowgreen;
  font-size: 30px;
}

.link {
  padding: 0 20px;

  a {
    color: yellowgreen;
    font-size: 20px;
    text-decoration: none;
  }
}
