.search-container {
    color: white;
    input {
        color: white;
        font-size: 22px;
        padding: 0.5rem;
        border-width: 0;
        border-bottom: 2px solid whitesmoke;
        background-color: black;
    }
}
