.edit-icon{
    background: url('../../../assets/downloaded-sprite-sheet-from-web.png') no-repeat -125px -93px;
    width: 17px;
    height: 15px;
}
.delete-icon{
    background: url('../../../assets/downloaded-sprite-sheet-from-web.png') no-repeat -585px 0;
	width: 15px;
	height: 19px;
}
.complete-icon{
    background: url('../../../assets/downloaded-sprite-sheet-from-web.png') no-repeat -370px -3px;
	width: 16px;
	height: 14px;
}
.reopen-icon{
    background: url('../../../assets/downloaded-sprite-sheet-from-web.png') no-repeat -154px -93px;
	width: 18px;
	height: 15px;
}
.up-arrow{
    background: url('../../../assets/downloaded-sprite-sheet-from-web.png') no-repeat -372px -125px;
	width: 13px;
	height: 14px;
}
.down-arrow{
    background: url('../../../assets/downloaded-sprite-sheet-from-web.png') no-repeat -401px -125px;
	width: 13px;
	height: 15px;
}