// -----------------------------------------------------------------------------
// This file contains Color Pallette.
// -----------------------------------------------------------------------------

$deep-purple: #2b0b50;
$heathrow-purple: #462170;
$white: #fff;
$light-grey: #f4f5f6;
$mid-grey: #5e6a75;
$black: #2c292a;
$light-purple: #7e5da4;
$highlight-pink: #a0157c;
$yellow: #ffd000;
$green: #59a608;
$red: #e3463b;
$grey: #bdc5cc;
$dark-green: #008537;
$dark-red: #da2d21;
$strike-through-color: #ca130d;
$author-img-bg-color: $light-grey;
$footer-gradient-orange: #f76b1c;
$dark-black: #000;
$premium-gradient-purple: #1d0737;
$standard-gradient-purple: #593186;
$redeem-pink: #a2087d;
$silver-grey: #e1e1e1;
$premium-icon-border: #8360ab;

$footer-gradient-yellow: #fad961;
$stopover-bg-color: #e9ebed;
$stopover-icon-color: #fbfcfc;

$border-color: #dadee2;

//Gradients
$gradient-warmth: #e36926;
$gradient-sunshine: #ffd000;
$gradient-cold: #65a5e8;
$gradient-rain: #c0bcff;
$gradient-wind: #8597a6;
$gradient-mist: #dbeeff;

//RGBA colors
$light-purple-8: rgba(126, 93, 164, 0.08);
$light-purple-10: rgba(126, 93, 164, 0.1);
$light-purple-40: rgba(126, 93, 164, 0.4);
$deep-purple-0: rgba(43, 11, 80, 0);
$deep-purple-80: rgba(43, 11, 80, 0.8);
$mid-grey-20: rgba(94, 106, 117, 0.2);
$gradient-grey: rgba(255, 255, 255, 0);
$gradient-white: rgba(255, 255, 255, 0.2);
$light-grey-5: rgba(244, 245, 246, 0.5);
$black-5: rgba(44, 41, 42, 0.5);
$white-10: rgba(255, 255, 255, 0.1);
$purple-overlay: rgba(27, 12, 43, 0.52);

//Rewards
$pinch-purple: #7f5ca2;
