.form-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .app-button.raised{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        &.add-button{
            width: 100px;
            height: 30px;
        }
        &.cancel-button{
            width: 100px;
            height: 30px;
        }
    }
}