.filters {
  display: flex;
}

.filters span {
  margin-right: 20px;
}

.filters label {
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button[type='submit'] {
  width: 15%;
  margin: 20px 0;
}

.list-group-item {
  display: flex;
}
