body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  box-sizing: border-box;
}
:root{
  --black: #000000;
  --primary-dark: #30231d;
  --primary-medium: #6a5750;
  --transperent-black: rgba(0,0,0,.3);
  --grey-dark: #333333;
  --grey-medium: #555555;
  --grey-light: #999999;
  --white: #ffffff;



  --primary-dark: #30231d;
  --primary-medium: #6a5750;
  --header-background: #000;
  --color-dark: #000;
  --color-light: #fff;
  --color-accent: rgb(255,46,115);
  --color-grey-dark: #808080;
  --color-grey-medium: #A9A9A9;
  --color-grey-light: #D3D3D3;
  --color-grey-white: #F5F5F5;
  --color-positive: green;

  
  --color-google:rgb(224,83,67);
  --color-facebook: rgb(62,88,164);
  
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
@media screen and (max-width: 700px) { 
  html {
    font-size: 48.25%; 
  }
}

@media screen and (max-width: 1200px) { 
  html {
    font-size: 56.25%; 
  }
}



@media screen and (max-width: 900px) { 
  html {
    font-size: 50%; 
  }
}

@media screen and (min-width: 1350px) {
  html {
    font-size: 75%; 
  }
}
