.task-table {
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #dfe2e5;
  
    th {
      cursor: pointer;
    }
 
    th,td {
      width: 20%;
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
  
}
